@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --app-background: #1e213f;
    --on-light-background: #eff1fa;
    --on-dark-background: #d7e0ff;
    --settings-background: #ffffff;

    --primary-dark: #161932;

    --secondary-peach: #f87070;
    --secondary-aqua: #70f3f8;
    --secondary-purple: #d881f8;
    --desaturated-blue: #2e325a;
    --dark-blue: #0e112a;
  }

  body {
    background: var(--app-background);
    /* font-family: var(--font-kumbh-sans); */
    min-height: 100vh;
  }
}
